*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dk-violet: hsl(268, 75%, 9%);
  --lt-vilolet: hsl(268, 47%, 21%);
  --lt-vilolet2: hsl(281, 89%, 26%);
  --lt-vilolet: hsl(285, 91%, 52%);
  --vb-vilolet: hsl(268, 47%, 21%);
  --vb-vilolet2: hsl(290, 70%, 36%);
  --yb-yellow: hsl(52, 100%, 62%);
  --pl-white: hsl(0, 0%, 100%);
  --yb-cyan: hsl(176, 100%, 44%);
  --yb-cyan2: hsl(177, 92%, 70%);

  --dk-text: hsl(198, 20%, 13%);
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    231deg,
    rgba(10, 5, 30, 1) 0%,
    rgba(52, 28, 79, 1) 50%,
    rgba(56, 30, 80, 1) 100%
  );
}
.cont {
  width: 90%;
  max-width: 450px;
}
h1 {
  font-size: 2rem;
  color: var(--pl-white);
  opacity: 0.75;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}
.display-container {
  position: relative;
  background-color: var(--dk-violet);
  border-radius: 1rem;
  border-bottom: 0.35rem solid var(--lt-vilolet2);
  margin: 1rem 0;
  padding-top: 0.35rem;
}
.display {
  width: 100%;
  background-color: transparent;
  padding: 1.5rem 1.5rem;
  color: var(--yb-yellow);
  font-weight: 600;
  border: none;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 1.25rem;
}
.display::placeholder {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  color: var(--yb-yellow);
  opacity: 0.65;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.display-container button {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.inputcon {
  width: 100%;
  background-color: var(--dk-violet);
  border-bottom: 0.35rem solid var(--lt-vilolet2);
  border-radius: 1rem;
  padding: 2rem;
}

.passklength {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passklength p:nth-child(1) {
  color: var(--pl-white);
  font-size: 1.5rem;
}
.passklength p:nth-child(2) {
  color: var(--yb-yellow);
  font-size: 1.5rem;
}
.strength-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}
.strength-cont p {
  color: var(--pl-white);
  font-size: 1.5rem;
}
.strength-cont .indi {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.generate-pass {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  border-radius: 0.75rem;
  padding: 1rem 0;
  font-weight: 600;
  background-color: var(--lt-vilolet);
  border-bottom: 0.35rem solid var(--yb-yellow);
  letter-spacing: 1px;
  color: var(--yb-yellow);
  cursor: pointer;
  text-transform: uppercase;
}
.check {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 1rem;
}
.check input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--yb-cyan);
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
}
.check input:checked {
  background-color: var(--yb-cyan);
}
.check input:checked::before {
  content: "✔";
  position: absolute;
  color: var(--dk-text);
  font-size: 1.05rem;
  font-weight: 600;
  left: 50%;
  top: -3.5px;
  transform: translateX(-50%);
}
.check label {
  color: white;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.slider {
  appearance: none;
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background-color: var(--lt-vilolet);
  border-radius: 1rem;
  margin-top: 1.9rem;
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--yb-yellow);
  box-sizing: 0px 0px 20px 0px rgba(256, 229, 61, 0.5);
  transition: all 100ms ease-in;
  margin-top: -3px;
}

.slider:focus {
  outline: 3px solid var(--yb-yellow);
}
.slider::-webkit-slider-thumb:hover {
  outline: 2px solid white;
  background-color: var(--dk-violet);
  box-shadow: 0px 0px 25px 5px rgba(256, 229, 61, 0.5);
}
.copy-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tool {
  position: absolute;
  background-color: var(--lt-vilolet);
  font-size: 1.25rem;
  left: -25px;
  top: -35px;
  padding: 5px 10px;
  border-radius: 1rem;
  color: var(--yb-yellow);
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom;
  transition: all 250ms ease-in-out;
}
.tool.active {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 410px) and (max-width: 500px) {
  .wrapper {
    width: 100%;
    height: 100vh;
  }
  h1 {
    margin-top: 0.2rem;
    padding-top: 1rem;
    font-size: 1.4rem;
    line-height: 1px;
    letter-spacing: 1px;
  }
  .cont {
    min-width: 300px;
  }
  .display-container {
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-vilolet2);
    margin: 1.2rem 0;
    padding-top: 0.5rem;
  }
  .display {
    width: 90%;
    padding: 1.8rem 1.8em;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 1.7 rem;
  }
  .display::placeholder {
    top: 48%;
    left: 1.6rem;
    font-size: 1.3rem;
    line-height: 35px;
    opacity: 0.7;
    transform: translateY(-43%);
  }
  .generate-pass {
    font-size: 1.3rem;
    width: 100%;
    border-radius: 0.75rem;
    padding: 1rem 0.5rem;

    border-bottom: 0.4rem solid var(--yb-yellow);
    letter-spacing: 1px;
  }
}

@media (min-width: 320px) and (max-width: 408px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }
  h1 {
    margin-top: 0.1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 1px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .display {
    width: 88%;
    padding: 1.8rem 1.7em;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 30px;
    letter-spacing: px;
    padding-right: 1.7rem;
  }
  .display::placeholder {
    top: 45%;
    left: 1.7rem;
    font-size: 1rem;
    line-height: 35px;
  }

  .passklength p:nth-child(1) {
    font-size: 1.28rem;
    font-weight: 500;
  }
  .passklength p:nth-child(2) {
    font-weight: 500;
    font-size: 1.28rem;
  }
  .slider {
    height: 0.7rem;
    margin-top: 1.9rem;
    margin-bottom: 1.5rem;
  }

  .slider::-webkit-slider-thumb {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--yb-yellow);
    box-sizing: 0px 0px 20px 0px rgba(256, 229, 61, 0.5);
    transition: all 100ms ease-in;
    margin-top: -3px;
  }
  .check label {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.9px;
  }

  .strength-cont p {
    color: var(--pl-white);
    font-size: 1.28rem;
    font-weight: 400;
  }
  .strength-cont .indi {
    height: 1.3rem;
    width: 1.3rem;
  }
  .generate-pass {
    font-size: 1.01rem;

    padding: 1rem 0.4rem;
    font-weight: 7 00;

    border-bottom: 0.3rem solid var(--yb-yellow);
    letter-spacing: 0.9px;
  }
}
